html
{
    background:#dfe7ec;
}
body
{
    margin:40px auto;
    padding:0;
    width:820px;
    position:relative;
    font-family:"Helvetica Neue", Helvetica, Arial, san-serif;
    color:#fff;
    font-size:100%;
}
body:before, body:after, textarea, pre
{
    font-family:"Courier New", Courier, monospace;
}
body:before
{
    content:'{';
    top:7px;
    left:-40px;
}
body:after
{
    content:'}';
    bottom:-5px;
    right:-40px;
}
body:before, body:after, h1
{
    position:absolute;
    display:block;
    font-size:3em;
    text-shadow:0 0 1px black, 0 0 10px rgba(0,0,0,.1);
    color:#fff;
}
h1
{
    margin:0;
    left:-160px;
    top:17px;
    font-size:1.7em;
}
#main
{
    box-shadow:0 0 10px rgba(0,0,0,.1);
    border:1px solid #BFCFD9;
    background:#fff;
    color:#454545;
    padding:0 20px 20px 20px;
    border-radius:8px;
}
small
{
    display:block;
    font-size:.9em;
    margin:20px 0 0 20px;
    color:#A9BFCB;
    text-shadow:0 1px 0 #fff;
}
small a
{
    color:#86A5B6;
    text-decoration:none;
    border-bottom:1px dotted #86A5B6;
}
small a:hover
{
    color:#E49958;
}
h2
{
    margin:20px 0;
}
textarea::-webkit-scrollbar, pre::-webkit-scrollbar
{
    width:6px;
    height:6px;
}
textarea::-webkit-scrollbar-track, pre::-webkit-scrollbar-track
{
    background:transparent;
}
textarea::-webkit-scrollbar-thumb, pre::-webkit-scrollbar-thumb
{
    background:#BFCFD9;
    border-radius:100px;
}
textarea::-webkit-scrollbar-corner, textarea::-webkit-resizer, textarea::-webkit-scrollbar-button,
pre::-webkit-scrollbar-corner, pre::-webkit-resizer, pre::-webkit-scrollbar-button
{
    display:none;
    height:0px;
}

textarea, pre
{
    width:360px;
    height:360px;
    padding:5px;
    margin:0 0 20px 0;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    border-radius:5px;
    font-size:.9em;
    overflow-y: scroll;
    display:block;
    background:#F2F6F7;
    border:1px solid #CFDCE2;
    outline:none;
    color:#333;
    resize:none;
    box-shadow:0 0 5px rgba(0,0,0,.1);
}
textarea:focus, pre:focus
{
    border-color:#ACC2CD;
    background:#E9F0F1;
}
#in
{
    margin-right:20px;
}
#in, #out
{
    float:left;
    display:block;
}
#options
{
    clear:both;
}
#format_string
{
    height: 120px;
}
textarea,pre,a
{
    -webkit-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
}