html {
    background: #f5f5f5 url('../images/bg.png') repeat-x top center;
}

body {
    margin: 0px;
    padding: 0px;
    width: 656px;
    margin: 100px auto 20px auto;
    overflow-y: scroll;
    color: #444;
    font: 10pt "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

h1 {
    font-size: 150%;
    font-weight: bold;
    color: #666;
    padding: 10px 0px 20px 10px;
    line-height: 1;
}

h1 span {
    color: #ccc;
    font-size: 90%;
    vertical-align: text-top;
}

h1 small {
    font-size: 60%;
    font-weight: normal;
    margin-left: 5px;
    color: #aaa;
}

h3 {
    font-size: 100%;
    font-weight: normal;
    margin-bottom: 5px;
}

#main {
    background: #fff;
    border-radius: 5px;
    border: solid 1px #888;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

#code {
    margin-bottom: 10px;
}

#code:after {
    float: none;
    clear: both;
    height: 0px;
    content: '';
    display: block;
}

#code textarea {
    width: 300px;
    padding: 5px;
    display: block;
    border: none;
    background: #fff;
    border-radius: 5px;
    border: solid 1px #bbb;
    resize: none;
    outline: none;
    /*box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.15);*/
    height: 160px;
    font: 10pt courier, monospace;
    color: #666;
    margin-left: 10px;
    float: left;
    margin-right: 10px;
    -webkit-transition: all 0.05s ease-in;
    -moz-transition: all 0.05s ease-in;
}

#code textarea:focus {
    border-color: #666;
    color: #444;
}

textarea::-webkit-scrollbar {
    width:6px;
    height: 6px;
}

textarea::-webkit-scrollbar-track {
    background: transparent;
}

textarea::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 100px;
}

textarea::-webkit-scrollbar-corner, 
textarea::-webkit-resizer, 
textarea::-webkit-scrollbar-button { 
    display:none;
    height: 0px;
}

#code pre {
    background: #444;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    height: 160px;
    float: left;
    font: 10pt courier, monospace;
    color: #fff;
    margin: 0px;
    overflow-y: scroll;
    outline: none;
}

pre::-webkit-scrollbar {
    width:6px;
    height: 6px;
}

pre::-webkit-scrollbar-track {
    background: transparent;
}

pre::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
}

pre::-webkit-scrollbar-corner, 
pre::-webkit-resizer, 
pre::-webkit-scrollbar-button { 
    display:none;
    height: 0px;
}

#options {
    float: none;
    clear: both;
    background: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #bbb;
    margin: 0px 10px 10px 10px;
}

#options .left {
    width: 300px;
}

#format_string {
    width: 278px;
    padding: 5px;
    border: solid 1px #bbb;
    border-radius: 3px;
    margin-left: 10px;
    height: 70px;
    outline: none;
    font-family: inherit;
}