html {
	background: #f8f8f8;
}

body {
	background: #fff;
	border: solid 1px #aaa;
	margin: 50px auto;
	padding: 10px;
	width: 100px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

#result {
	height: 30px;
	background: #eee;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

#result.good {
	background: #55cc55;
}

#result.bad {
	background: #cc5555;
}